.App {
  text-align: center;
}

.photo-container{
  padding: 0 20px;
  text-align: center;
  width: 1000px
  
}
.photo{
  border: 2px solid black;
  margin: 15px auto;
  padding: 3px;
  width: 50%;
}
.photo img{
  /* margin: 15px; */
  max-width: 100%;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin: 25px auto;
}

.App-link {
  color: #61dafb;
}